services:
  traefik:
    image: traefik:v3.2
    container_name: traefik
    command:
      - --api.dashboard=true
      - --api.insecure=true
      - --providers.docker=true
      - --accesslog=true
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network=mynetwork
      - --log.level=DEBUG
      # - --traefik.frontend.rule=Host:monitor.`${DOMAIN}`
      - --providers.docker.watch=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.le.acme.email=${LE_EMAIL}
      - --certificatesresolvers.le.acme.storage=/letsencrypt/acme.json
      # - --certificatesresolvers.le.acme.httpChallenge.entrypoint=web
      - --certificatesresolvers.le.acme.dnsChallenge=true
      - --certificatesresolvers.le.acme.dnsChallenge.provider=cloudflare
      - --certificatesresolvers.le.acme.dnsChallenge.resolvers=1.1.1.1:53,8.8.8.8:53
      - --certificatesresolvers.le.acme.dnsChallenge.delayBeforeCheck=2s
      - --certificatesresolvers.le.acme.httpChallenge=true
      - "--certificatesresolvers.le.acme.preferredChain=ISRG Root X1"
    restart: unless-stopped
    ports:
      - 80:80
      - 8080:8080
      - 443:443
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.entrypoints=websecure
      - traefik.http.routers.traefik.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.traefik.tls=true
      - traefik.http.routers.traefik.tls.certresolver=le
      - traefik.http.routers.traefik.service=api@internal
      - traefik.http.services.api.loadbalancer.server.port=8080
      - traefik.http.routers.traefik.tls.domains[0].main=${DOMAIN}
      - "traefik.http.routers.traefik.tls.domains[0].sans=*.${DOMAIN}"
      - traefik.http.routers.traefik.middlewares=frontend
      - traefik.http.middlewares.frontend.basicAuth.users=${HASHED_ADMIN_USER_PASS}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik-le:/letsencrypt
    networks:
      - mynetwork

    environment:
      - CF_API_EMAIL=${CF_API_EMAIL}
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}

volumes:
  traefik-le:

networks:
  mynetwork:
    external: true

# Generate HASHED_ADMIN_USER_PASS using below command
# htpasswd -B -C 10 -c .htpasswd user1
# cat .htpasswd | sed -e s/\\$/\\$\\$/g
